{%extends 'base.html'%}
{%block body%}
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info"></div>
    <div class="panel-heading">
        <div class="panel-title">
            oh no!
        </div>
        <div styple="padding-top:38px" class="panel-body">
            There was a problem activating ourthe account. Please contact us at <a href="mailto:suport@mysterybooks.com">support@mysterybooks.com</a>
        </div>
    </div>
</div>
{%endblock%}